# Copy to a private file outside the repository and set mode 0600.
PAPERCOLOR_DEVICE_ID=papercolor-001
PAPERCOLOR_DEVICE_TOKEN=
PAPERCOLOR_ADMIN_TOKEN=
PAPERCOLOR_FONT_PATH=/usr/share/fonts/opentype/noto/NotoSansCJK-Regular.ttc
PAPERCOLOR_CJK_SERIF_FONT_PATH=/usr/share/fonts/opentype/noto/NotoSerifCJK-Regular.ttc
PAPERCOLOR_LATIN_SERIF_FONT_PATH=/usr/share/fonts/opentype/noto/NotoSerifCJK-Regular.ttc
PAPERCOLOR_TIMEZONE=UTC
PAPERCOLOR_DATA_DIR=/data
PAPERCOLOR_HOST=0.0.0.0
PAPERCOLOR_PORT=8767
PAPERCOLOR_LOG_LEVEL=INFO
